<div class="shirt shirt-back" id="shirt-extended">
  <div class="shirt-image shirt-white">
  </div>
  <div class="shirt-text">
    <p id="shirt-back-1"></p>
    <p id="shirt-back-2"></p>
  </div>
</div>
